SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/REPLACE_WITH_YOUR_KEY
SEPOLIA_CHAIN_ID=11155111
CONTRACT_ADDRESS=0x0b4D8938ABf7AB55C1F6c02c6d9BF68e54F8fD53
WALLETCONNECT_PROJECT_ID=REPLACE_WITH_WALLETCONNECT_PROJECT_ID
VITE_PINATA_PROJECT_ID=
VITE_PINATA_PROJECT_SECRET=
VITE_PINATA_PROJECT_JWT=